<h2 class="is-size-4 has-text-centered">View Post</h2>
{{#if post}}
  <article class="article-view has-text-centered mt-3">
    <h3 class="article-title">{{post.title}}</h3>
    <span>Created by {{post.user.username}} on {{post.date_created}}</span>
    <p>{{post.content}}</p>
  </article>
{{else}}
  <p class="has-text-centered mt-3">No article found.</p>
{{/if}}

<section id="comment-container" class="has-text-centered my-3">
  {{#if loggedIn}}
  <div class="field">
    <label class="label">Add Comment</label>
    <div class="control">
      <textarea id="comment-input" class="textarea" placeholder="Enter your comment here"></textarea>
    </div>
  </div>

  <div class="field is-grouped is-justify-content-center">
    <div class="control">
      <button id="add-comment-btn" class="button">Submit</button>
    </div>
  </div>

  {{else}}
    <p class="my-3"><a href="/login">Log in to comment.</a></p>
  {{/if}}

  <h3 class="is-size-4">Comments</h3>
  {{#if post.comments}}

    {{#each post.comments}}
      <div class="comment my-4">
      {{comment}}
        <br>
      {{createdAt}}
        <br>
      {{user.username}}
      </div>
    {{/each}}
  {{else}}
    <p>No comments found.</p>
  {{/if}}
</section>

<script src="/js/submit-comment.js"></script>